.page-sider {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  padding-top: 48px;
  overflow: auto;
  overflow-x: hidden;
  user-select: none;
}
.page-sider-placeholder {
  width: 208px;
  overflow: hidden;
  flex: 0 0 208px;
  max-width: 208px;
  min-width: 208px;
  transition: background-color 0.3s ease 0s, min-width 0.3s ease 0s,
    max-width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.page-sider-trigger {
  border-top: 1px solid var(--border);
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 16px;
}
