.page-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  background-color: #f0f2f5;
  .content {
    flex: 1;
    padding: 70px 0;
  }
  .header {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 33px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    text-align: center;
  }
  .form {
    width: 388px;
    margin: 0 auto;
    .ant-input-affix-wrapper-lg {
      padding: 0;
    }
    .ant-input-prefix,
    .ant-input-suffix {
      margin-right: 0;
      position: absolute;
      top: 50%;
      z-index: 2;
      color: rgba(0, 0, 0, 0.65);
      line-height: 0;
      transform: translateY(-50%);
    }
    .ant-input-prefix {
      left: 12px;
    }
    .ant-input-suffix {
      right: 12px;
    }
    .ant-input {
      padding: 6.5px 30px;
    }
    .icon {
      color: rgba(0, 0, 0, 0.25);
      font-size: 14px;
    }
  }
  .button-login {
    margin-top: 24px;
  }
}
