@import '~antd/dist/antd.css';
@import './theme/index.scss';

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/*内层轨道，滚动条中间部分（除去）*/
::-webkit-scrollbar-track-piece {
  background-color: var(--bg-layout);
  -webkit-border-radius: 4px;
}

/*滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）*/
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--scrollbar);
  -webkit-border-radius: 4px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 4px;
}
/*滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）*/
::-webkit-scrollbar-thumb:horizontal {
  width: 4px;
}
::-webkit-scrollbar-corner {
  background-color: var(--bg);
}

#root {
  width: 100%;
  height: 100%;
  .TableActions {
    .ant-btn:first-child {
      padding-left: 0;
    }
  }
}
