@import '~antd/dist/antd.css';

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

/*内层轨道，滚动条中间部分（除去）*/
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 4px;
}

/*滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）*/
::-webkit-scrollbar-thumb:vertical {
  height: 4px;
  background-color: #d5d5d5;
  -webkit-border-radius: 4px;
}

/*滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）*/
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #d5d5d5;
  -webkit-border-radius: 4px;
}

#root {
  width: 100%;
  height: 100%;
  .cache-route {
    width: 100%;
    height: 100%;
  }
  .TableActions {
    .ant-btn:first-child {
      padding-left: 0;
    }
  }
}

.page {
  position: relative;
  flex: auto;
  min-height: 1px;
  width: 100%;
  .main-content {
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      z-index: 11;
      width: 6px;
    }

    &::-webkit-scrollbar:horizontal {
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      width: 6px;
      background: #e8e8e8;
    }

    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-track {
      background: #fff;
    }

    &::-webkit-scrollbar-track-piece {
      background: #fff;
      width: 6px;
    }
  }
}
